* {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.container {
    max-width: 768px;
}

h1, h2, h3, h4 {
    font-weight: 300;   
}

h1 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 36px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
}

h3 {
    margin: 0px;
    font-size: 20px;
}

h4 {
    margin-bottom: 5px;
}

h5 {
    margin-bottom: 0;
}

.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.portfolioimg {
    margin: auto;
    width: 256px;
    height: auto;
}

.headerfooterrow {
    text-align: right;
    display: block;
}

.headerfootercolumn {
    display: block;
}

#footer1 {
    text-align: center;
}

.contact-type {
    margin-right: 5px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

ul {
  list-style-type: none;
}